{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <h2 style = "text-align:center"> 
        온,습도 CHECK!
    </h2>   

    
    <table class = "table"> 
        <thead>
        <tr class ="thead-dark"> 
            <th width=10%>Index</th>
            <th width=30%>온도</th>
            <th width=30%>습도</th>
            <th width=30%>입력시간</th>     
        </tr>
        </thead>

        <tbody>
        {% for item in list%}
    
        <tr> 
            <td width=10%>{{item[0]}}</td>
            <td width=30%>{{item[1]}}</td>
            <td width=30%>{{item[2]}}</td>
            <td width=30%>{{item[3]}}</td>        
        </tr>
    
        {% endfor %}
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
            {%for i in range(page_count)%}
                <td><a href =  "/list/{{i+1}}">[{{i+1}}]</a></td>
            {% endfor %}
    </ul>
    <div class="btn-group" role="group" aria-label="Basic example">   
        <button class="btn btn-outline-dark" onclick="window.location.href='/'">Return to Home</button>
        <button class="btn btn-outline-dark" onclick="deleteAll()">Delete All</button>
        <button class="btn btn-outline-dark" onClick="window.location.reload()">새로 고침</button>
        <input class="btn btn-outline-dark" onclick="change()" type="button" value="Connect" id="myButton1"></input>
    </div>
    </div>
    <div id="result">
    </div>
</div>
<script>
        function change(){
            fetch("/serial")
            .then(response=> { console.log(response); return response.text()})
            var elem = document.getElementById("myButton1");
            if (elem.value=="Disonnect") elem.value = "Connect";
            else elem.value = "Disonnect";
        }
        function deleteAll(){
            fetch("/delete")
            .then(response=> response.text())
            .then(data=> {
                console.log(data);
                let result = document.querySelector("#result");
                if(data=="ok"){  
                    result.innerHTML = "<h1>table's records are deleted</h1>";
                }else{
                    result.innerHTML = "<h1>error</h1>";
                }
            });
        }
</script>   

{% endblock %}  